body {
    background-color: #333;
    color: #f4f4f4;
    font-family: 'Nunito Sans', sans-serif;
}

a {
    color: #93cbc3;
}

header {

    background-color: #142809;
    width: 800px;
    border: solid 3px black;

    padding: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

main {
    background-color: #142809;
    width: 800px;
    padding: 25px;
    border: solid 3px silver;
    margin-left: auto;
    margin-right: auto;
}


#sneakers {
	width: 25%;
	margin-right: 0px;
}

#sneakers img {
	width: 100%;
	height: auto;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}
